---
import { getCollection } from "astro:content"
import Metadata from "../components/seo/Metadata.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { META } from "../data/meta"
import "../styles/globals.css"
import BlogMetrics from "../components/BlogMetrics.astro"
import ArticleJsonLD from "../components/seo/ArticleJsonLD.astro"
import { calculateReadingTime } from "../utils/readTime"

export async function getStaticPaths() {
  const posts = await getCollection("blog")

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()

const seoJsonLdTitle = post.data.seoTitle ?? post.data.title
const seoMetaTitle = seoJsonLdTitle + " | " + META.HOME.TITLE
const seoDesc = post.data.seoDescription ?? post.data.description

const readMinutes = calculateReadingTime(post.data.wordCount)
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata
      title={seoMetaTitle}
      description={seoDesc}
      image={post.data.cover || ""}
      publishDate={post.data.pubDate}
      modDate={post.data.updatedDate}
      thumbnail={post.data.cover}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <Header />
    <main>
      <article class="wrapper">
        <div class="content">
          <div>
            <h1>{post.data.title}</h1>
            <BlogMetrics
              pubDate={post.data.pubDate}
              readTimeMins={readMinutes}
            />
          </div>
          {
            post.data.cover && (
              <div class="cover">
                <img
                  loading="eager"
                  src={post.data.cover}
                  alt={"Cover image"}
                />
              </div>
            )
          }
          <section class="blog">
            <Content />
          </section>
        </div>
      </article>
    </main>
    <Footer />
    <ArticleJsonLD
      title={seoJsonLdTitle}
      description={seoDesc}
      pubDate={post.data.pubDate}
      updatedDate={post.data.updatedDate}
      thumbnail={post.data.cover}
      tags={post.data.keywords}
      wordCount={post.data.wordCount}
    />
  </body>
</html>

<style>
  main {
    min-height: 100vh;
  }

  .cover {
    height: 200px;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .cover > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
</style>
