---
import { SOCIALS } from "../data/_me"
import { FOOTER_TITLE } from "../data/vars"

const name = FOOTER_TITLE
const year = new Date().getFullYear()
---

<footer>
  <section class="wrapper">
    <div class="footer-links">
      <a target="_blank" aria-label="Main" title="Main" href={SOCIALS.MAIN}>Main</a>
      <a target="_blank" aria-label="GitHub" title="GitHub" href={SOCIALS.GITHUB}>GitHub</a>
      <a target="_blank" aria-label="Dev.to" title="Dev.to" href={SOCIALS.DEV_TO}>Dev.to</a>
      <a aria-label="Sitemap" href={"/sitemap-index.xml"}>Sitemap</a>
      <a aria-label="RSS Feed" href={"/rss.xml"}>RSS</a>
    </div>
    <p id="copyright">&copy; {year} {name} • Blogs</p>
  </section>
</footer>

<style>
  footer > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-links {
    display: flex;
    gap: 24px;
  }
  .footer-links > a {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  #copyright {
    font-size: x-small;
  }

  @media (max-width: 640px) {
    footer > section {
      flex-direction: column;
      row-gap: 4px;
    }
  }
</style>
